# run this command and put result for BETTER_AUTH_SECRET=
# openssl rand -base64 32
BETTER_AUTH_SECRET=""

#Base URL of your app
BETTER_AUTH_URL="http://localhost:3000"

# Drizzle
DATABASE_URL="file:./db.sqlite"

# Where the files will be stored in the filesystem.
FILE_PATH="/dev"
